@import "variables.scss";
@import "mixins.scss";

.main {
  margin-top: 128px;
  @include flexCenter(column, rgba(255, 255, 255, 0))
}

h1 {
  font-family: $fontFamily;
  font-style: normal;
  color: white;
  font-size: 361% !important;
}

.home {
  margin-top: 13px;
}

h1::after {
  content: "";
  border: 1px solid white;
  display: block;
}

.logo {
  width: 61px;
  height: auto;
}

.main p {
  font-weight: 400;
  font-family: $fontFamily;
  font-style: normal;
  color: white;
  font-size: 19px;
  text-align: center;
}

.card-text p {
  font-family: $fontFamily;
  color: $mainColor;
  font-size: 25px;
  text-align: center;
}

.btnJoinFind {
  border-radius: 2px;
  width: 42px;
  height: 22px;
  font-size: 13px;
  color: white;
  background-color: $redButton;
  border: none;
  margin-top: -1px;
}
.btnJoinFind a{
  color: white;
}

.btnJoinFind a:hover {
  size:13px;
  color: $lighWhiteOnHover;
  text-decoration: none;
}

.arrow{
  position: absolute;
  top: 70%;
  left: 50%;
  z-index: 999;
}
.arrow span{
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid #333;
  border-right: 5px solid #333;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
.arrow p {
 transform: translate(-50%,-50%);
 font-Family: $fontFamily;
 font-size: 13px;
 margin-top:3rem;
 color: #fff;
 /* font-family: 'Montserrat',sans-serif; */
 text-shadow: 0 5px 15px rgba(0, 0, 0, 0.877);
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}

@media screen and (max-width:768px){
  .main{
    left:10%;
  }
  .main h1{
    font-size: 2rem;
  }
  .main p{
    font-size: 0.8rem;
  }
  .btnJoinFind{
    width: 3.5rem;
    padding: .1rem;
    font-size: 15px;
  }
}
